<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>View model</title>
</head>
<body>
    <div class="header_container">
        <div class="header_logo"><a href="/" class="header_logo_link">TeamWheatProject</a></div>
        <div class="header_menu">
            <div class="header_menu_item"><a href="/view_models" class="header_menu_item_link">Show models</a></div>
            <div class="header_menu_item auth_no"><a href="/auth_page" class="header_menu_item_link">Sign in</a></div>
            <div class="header_menu_item auth_no"><a href="/reg_page" class="header_menu_item_link">Sign up</a></div>
             <div class="header_menu_item auth_accept"><a href="/profile" class="header_menu_item_link">Profile</a></div>
            <div class="header_menu_item auth_accept"><a href="/logout" class="header_menu_item_link">Exit</a></div>
        </div>
    </div>

    <div class="main_container">
        <div class="main_container_title">Model</div>
        <div class="main_container_description_model">Description of model</div>
        <div class="main_container_input_sector">
            <label for="file_input" class="file_input_class std_btn">Load image</label>
            <button class="main_container_input_sector_send std_btn">Send image</button>
            <div class="main_container_input_sector_send_inp_file"><input class="main_container_input_sector_send_input hide" id="file_input" type="file" accept="image/png, image/jpeg"></div>
        </div>
        <div class="main_container_text_file_name">File no choose</div>
        <div class="main_container_model_procces_text">No procces</div>
        <div class="main_container_div_model_result"><img id="main_container_mdl_res_image"></div>

    </div>
    
    <div class="footer_container">
        <div class="footer_link"><a href="https://github.com/goreTTu/PracticumSemestr2" class="footer_link_item">Github of project</a></div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

